.btn {
    padding: 0.313rem;
    border: transparent;
    border-radius: 0.438rem;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}